body {
    font-family: cursive;
    background-color: #dbfba2;
    display: inline;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.heading {
    color: #343a40;
}
label {
    color: #343a40;
    font-weight: bolder;
}

#posting {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#form {
    max-width: 400px;
    margin: 0 auto;
}
#Postlink{
    color: rgb(16, 16, 16);
    background-color: rgb(144, 245, 245);
    border: 0px;
    padding: 7px;
    border-radius: 4px;
}
#PostDesc{
    color: rgb(16, 16, 16);
    background-color: rgb(144, 245, 245);
    border: 0px;
    padding: 7px;
    border-radius: 4px;
}
#Post{
    border: 0px;
    padding: 5px;
    border-radius: 3px;
}
#Post:hover{
    background-color: #eb9d16;
}

#Post_view_box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    margin-top: 30px;
}
